 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

 :root {
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;

    --font-padrao: 'inter';

 }


 body {
     margin: 0px;
     padding: 0px;
     background-repeat: no-repeat;
     background-image: url(backimg.jpg);
     background-size: 100%;
     background-repeat: no-repeat;
}

 #principal {
     width: 100%;
     height: 100px;
     background-color: var(--preto-dnc);
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid #BABABA;
 }

    #menu {
     display: flex;
     width: 50%;
     justify-content: space-around;
     align-items: center;
     margin-left: 4%;
 }

    #principal div a {
     font-size: 25px;
     font-weight: 600;
     color: white;
     text-decoration: none;
     font-family: var(--font-padrao)

 }

     #principal div a:hover {
     color: var(--cinza-hover);
 }

    #principal button {
     margin-right: 5%;
     background: var(--azul-dnc);
     border: 0px;
     box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
     width: 80px;
     height: 40px;
     font-family: var(--font-padrao);
     font-style: normal;
     font-weight: 600;
     font-size: 20px;
     color: #FFFFFF;
     cursor: pointer;
 }

    /* seção principal */

    section{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 100px;
        margin-bottom: 100px;
    }
        header{
            color: white;
            font-family: var(--font-padrao);
        }
        header h1{
            font-size: 80px;
            font-weight: 800px;
            text-align: center;

            margin-bottom: 20px;
        }
        header h2{
            text-align: center;
            font-size: 40px;
            font-weight: 700px;

            margin-bottom: 100px;
        }
        header .invert {
            background-color: black;
            font-weight: bolder;
            padding: 5px;
        }

        /*formulario*/
        
    form {
        color: white;
        font-family: var(--font-padrao);
        font-size: 30px;
        font-weight: 600px;
        width: 600px;
    }
    .formGroup {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    form input{
        border-radius: 10px;
        height: 35px;
        border: 0px;
        font-size: 20px;
        padding: 5px 10px 5px 10px;
        background-color: rgba(255, 255, 255, 0.9);;
    }
    form label {
        margin: 5px 0px 5px 0px;
    }
    form input::placeholder{
        color: rgba(57, 57, 57, 0.5);
    }
    .checkboxItens label{
        font-size: 25px;
    }
    .checkboxItens{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    input[type="checkbox"]{
        transform: scale(1.6);
    }
    input[type="submit"]{
        background-color: rgba(12, 112, 242, 0.9);
        width: 100%;
        height: 55px;
        box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
        border-radius: 10px;
        font-size: 32px;
        color: white;
        margin-top: 100px;
        cursor: pointer;
    }
    
/* Footer */

footer {
    width: 100%;
    background-color: var(--azul-dnc)
}
footer .linha1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
}
footer h5{
    text-align: center;
    color: white;
    font-weight: 800px;
    font-size: 25px;
    font-family: var(--font-padrao);
    background-color: var(--preto-dnc);
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
}
footer ul li{
    text-align: center;
    color: white;
    font-weight: 600px;
    font-size: 25px;
    font-family: var(--font-padrao);
    margin: 20px 0px 20px 0px;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
footer ul li a:hover{
    color: var(--cinza-hover);
}
footer .endereço{
    font-weight: 600px;
    font-size: 18px;
    font-family: var(--font-padrao);
    color: white;
    text-align: center;
    width: 27%;
}
footer .linha2{
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 100px 0px 10px 0px;
}
footer .linha2 a{
    font-family: var(--font-padrao);
    font-size: 18px;
    font-weight: 600px;
    color: white;
    text-decoration: none;
    padding: 5px;
}
footer .linha2 a:hover{
    color: var(--cinza-hover);
}
footer .linha2 a:first-child{
    border-right: 2px solid white;
}
@media only screen and (max-width:600px){
    #principal{
        flex-direction: column;
        height: auto;
    }
    #menu {
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }
    #menu a{
        height: 50px;
        display: flex;
        align-items: center;
    }
    #principal button{
        width: 100%;
        margin: 0px;
    }

    /*Seção*/

    section h1{
        font-size: 38px;
    }
    section h2{
        font-size: 25px;
        padding: 0px 15px 0px 15px;
    }
    form{
        width: 95%;
        font-size: 20px;
    }
    .checkboxItens label{
        font-size: 17px;
    }
     
    /*Ajustando o footer*/

    footer .linha1{
        flex-direction: column;
    }
    footer .endereço {
        width: 95%;
        margin-bottom: 20px;
}
}